*{
    margin: 0;
    padding: 0;
}
:root {
    --white: #ffffff;
    --skin: rgba(238,224,208);
  }
/* navbar top */
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-link i img:hover{
    background-color: var(--skin);
    border-radius: 50px;
}
@media screen and (max-width:420px){
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    color:black;
    font-weight: bold;
}
@media screen and (max-width:420px){
    .logo h3{
        font-size: 20px;
    }
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:420px){
    .icons i img{
        width: 20px;
    }
}  
  .search-container {
    position: relative;
  }
  
  #searchBar {
    padding: 10px;
    width: 300px;
    font-size: 16px;
  }
  
  .search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  #searchDropdown div {
    padding: 10px;
  padding-right: 150px;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  
  #searchDropdown div:hover {
    background-color: #f0f0f0;
  }
/* navbar top */

/* main content */


/* navbar */
#navbar-color{
    background-color: var(--skin);
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link:hover{
    color: green;
}
/* navbar */

/* content */
.content{
    margin-top: 150px;
    margin-left: 60px;
}
.content h1{
    font-size: 50px;
}
#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn1 button:hover{
    background-color: green;
}
@media screen and (max-width:420px){
    .content h1{
        font-size: 30px;
    }
}
/* content */

/* main content */

/* card2 */
#tpc{
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}
#tpc:hover{
    transform: translateY(-10px);
}
/* card2 */

/* card3 */
#c p{
    font-weight: bold;
}
#btn3{
    text-align: center;
}
#btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn3 button:hover{
    background-color: var(--skin);
}
@media screen and (max-width:895px){
    #btn3 button{
        width: 100px;
    }
}
/* card3 */
#btn4 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn4 button:hover{
    background-color: var(--skin);
}
/* footer */
#footer{
    width: 100%;
    background-color: black;
    margin-top: 100px;
}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color: white;
}
.icons i{
    color: var(--skin);
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    color: white;
    margin-top: 20px;
}
/* footer */

/* slider*/
.slider {
    position: relative;
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }
  
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 auto;
  }
  
  .slides img {
    width: 100%;
    height: auto;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 0;
    transform: translateY(-50%) translateX(-50%);
  }
  
  .next {
    right: -10px; /* Adjust this value to touch the margin */
    transform: translateY(-50%);
  }
  
    /*slider*/
    a {
        color: black; /* You can use any color you prefer */
        text-decoration: none; /* Remove underline if you want */
    }
